---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhyPromoPlus from '../components/WhyPromoPlus.astro';
import CallToAction from '../components/CallToAction.astro';
import Products from '../components/Products.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rollout PromoPlus - Build the Road Out for Growing SMEs">
  <Header />
  <main>
    <Hero />
    <WhyPromoPlus />
    <CallToAction />
    <Products />
    <Contact />
  </main>
  <Footer />
</Layout>